$nav-contentheight:20px;
$nav-padding:2px;

$leftbar-cwidth:34px;
$leftbar-padding: calc($leftbar-cwidth/8) ;
body > main{
    margin: $nav-padding ($leftbar-cwidth+($nav-padding*8));
}
header .content{
    border: 2px red;
    margin:0 ($leftbar-cwidth+($nav-padding*5));
    padding:0.5em 2em;
    *{
        margin:0.125em 0;
    }
    border-radius: 20px 20px 0 0;
    height:fill;
}
body > header{
    position: sticky;
    top: $nav-padding*3;
    border-radius: $nav-padding*4;
    z-index: 80;
}
nav {
    border-radius: $nav-padding*4;
    // z-index: 90;
    // margin:0;
    // padding:0;

    

    div{
        padding:$nav-padding;
        margin-bottom: $nav-padding;
        height:$nav-contentheight+($nav-padding*4);
        border-radius: $nav-padding*3;
    }

    a{
        transition: color 0.1s ease-in-out;
        display:inline-flex;
        vertical-align: middle;
        line-height:$nav-contentheight;
        font-size:$nav-contentheight - $nav-padding;
        text-decoration: none;
        text-align: center;
        color:#fff;
        border-radius: $nav-padding*2;
        border: 1px transparent solid;
        background-color: $nav-bg;
        .iconify{
            height:$nav-contentheight;
            width:auto;
            padding:$nav-padding;
        }
        .label{
            padding:$nav-padding;
            padding-right:$nav-padding*2;
        }
        &:hover { // Using & to reference the parent selector
            color: $nav-accent;
            background-color: $nav-bg;
            border: 1px $nav-accent solid;
            z-index: 10;
        }
        &.current{
            background: $nav-accent;
            color:black;
            // border: 1px $nav-bg solid;
            // border-radius: $nav-padding*2.5;
            // margin: 1px;
        }
    }
    .seperator{
        vertical-align: middle;
        display:inline-block;
        margin: 0;
        padding:0;
        background: $text-color;
        border-radius: 40px;
        border: 1px $text-color outset;
    }
    .vert-seperator{
        @extend .seperator;
        width:0;
        height:($nav-contentheight) - ($nav-padding);
        margin: $nav-padding ($nav-padding*-0.5);
    }
    .h-seperator{
        @extend .seperator;
        height:0;
        display:block;
        width:fill;
        margin: $nav-padding*2 $nav-padding*3;
    }
    hr{
        @extend .h-seperator;
        display:inline-block;
    }
    .nav-container{
        background-color: $nav-bg;
        display: flex;
        padding:$nav-padding;
        margin:0;
    }
    .topbar{
        flex-flow: row;
        flex-wrap:nowrap;
    
        margin:0;
        overflow: auto;
    }
    
    ul {
        list-style: none;
        background-color: $nav-bg;
        display: flex;
        padding:0;
        margin:0;
        li {
            display: inline-block;
            padding:$nav-padding;
            height:$nav-contentheight + ($nav-padding*3);
            vertical-align: middle;
        }
    }
    .breadcrumb{
        display:block;
        li {
            // margin-right: $nav-padding;
            &:first-child{
                width:$leftbar-cwidth + $leftbar-padding*2;
                .iconify{
                    width:$leftbar-cwidth;
                }
            }
        }
    }
}

.leftbar{
    float:left;
    flex-flow: column;
    flex-wrap:nowrap;

    margin:0;
    overflow: visible;
    
    background-color: $nav-bg;

    height: calc((100vh) - ($nav-contentheight + $nav-padding*8)) ;
    width: ($leftbar-cwidth + $nav-padding*5);
    padding: 0;

    li{
        width: fill;
        overflow: visible;
        // width: ($leftbar-cwidth + $nav-padding*3);
        height: ($leftbar-cwidth + $leftbar-padding*2);
        margin: ($leftbar-padding*0.5) $nav-padding;
        padding:0;

        &:first-child{
            margin-top:0;
            padding-top:0;
            width:$leftbar-cwidth + $nav-padding*2;
        }

        &:has(hr){
            padding:0;
            margin:0;
            margin-top:calc($leftbar-padding * -2);
            margin-bottom:calc($leftbar-padding);
            width:$leftbar-cwidth * 1.25;
            height: $leftbar-padding * 2 ;
        }
        
        a{
            line-height:calc($leftbar-cwidth - ($leftbar-padding));
            padding:$nav-padding;
            vertical-align:middle;
            width: $leftbar-cwidth + $nav-padding;
            height:$leftbar-cwidth + $nav-padding;
            .label{
                transition: width 0.3s ease-in-out;
                display:none;
                height:$leftbar-cwidth;
                padding: $nav-padding;
                padding-left: $nav-padding;
                font-size:calc($leftbar-cwidth*0.7);
            }
            .iconify{
                width: $leftbar-cwidth;
                height: auto;
                
                padding:0;
                vertical-align:middle;
            }
            &:hover{
                width: fit-content;
                z-index: 95;
                .label{
                    display:inline-block;
                }
            }
        }
    }
}