body {
  font-family: "Helvetica", sans-serif;
  background: #162016;
  color: white;
}

.container {
  padding: 15px;
}

.msg, .msg-success, .msg-error, .msg-danger, .msg-warning, .msg-info {
  border: 2px solid #111511;
  border-radius: 5px;
  background: #283128;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.25rem;
  margin: 0.25em 0;
  display: inline-block;
  cursor: pointer;
}
.msg:hover, .msg-success:hover, .msg-error:hover, .msg-danger:hover, .msg-warning:hover, .msg-info:hover {
  background: #3f4d3f;
  border: 2px solid #1d231d;
}

.msg h1, .msg-success h1, .msg-error h1, .msg-danger h1, .msg-warning h1, .msg-info h1 {
  margin: 0 0 0.2em 0;
}

.msg-info {
  background: #1b3646;
  border: 2px solid #0d1a21;
}
.msg-info:hover {
  background: #29526b;
  border: 2px solid #142834;
}

.msg-warning {
  background: #897f17;
  border: 2px solid #5d5710;
}
.msg-warning:hover {
  background: #b5a71e;
  border: 2px solid #736b13;
}

.msg-danger {
  background: #8a5e17;
  border: 2px solid #5e4010;
}
.msg-danger:hover {
  background: #b67c1e;
  border: 2px solid #744f13;
}

.msg-error {
  background: #7e2525;
  border: 2px solid #571919;
}
.msg-error:hover {
  background: #a53131;
  border: 2px solid #6a1f1f;
}

.msg-success {
  background: #22531f;
  border: 2px solid #132e11;
}
.msg-success:hover {
  background: #31782d;
  border: 2px solid #1a4018;
}

#testDiv {
  position: relative;
  width: 150px;
  height: 100px;
  padding: 20px;
  background: #b3c8d0;
  border: 1px solid black;
  font-size: 16pt;
  cursor: pointer;
}

body > main {
  margin: 2px 50px;
}

header .content {
  border: 2px red;
  margin: 0 44px;
  padding: 0.5em 2em;
  border-radius: 20px 20px 0 0;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill;
}
header .content * {
  margin: 0.125em 0;
}

body > header {
  position: sticky;
  top: 6px;
  border-radius: 8px;
  z-index: 80;
}

nav {
  border-radius: 8px;
}
nav div {
  padding: 2px;
  margin-bottom: 2px;
  height: 28px;
  border-radius: 6px;
}
nav a {
  transition: color 0.1s ease-in-out;
  display: inline-flex;
  vertical-align: middle;
  line-height: 20px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: 1px transparent solid;
  background-color: rgba(34, 42, 36, 0.7607843137);
}
nav a .iconify {
  height: 20px;
  width: auto;
  padding: 2px;
}
nav a .label {
  padding: 2px;
  padding-right: 4px;
}
nav a:hover {
  color: #6ba971;
  background-color: rgba(34, 42, 36, 0.7607843137);
  border: 1px #6ba971 solid;
  z-index: 10;
}
nav a.current {
  background: #6ba971;
  color: black;
}
nav .seperator, nav .h-seperator, nav hr, nav .vert-seperator {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  background: #609b66;
  border-radius: 40px;
  border: 1px #609b66 outset;
}
nav .vert-seperator {
  width: 0;
  height: 18px;
  margin: 2px -1px;
}
nav .h-seperator, nav hr {
  height: 0;
  display: block;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  margin: 4px 6px;
}
nav hr {
  display: inline-block;
}
nav .nav-container {
  background-color: rgba(34, 42, 36, 0.7607843137);
  display: flex;
  padding: 2px;
  margin: 0;
}
nav .topbar {
  flex-flow: row;
  flex-wrap: nowrap;
  margin: 0;
  overflow: auto;
}
nav ul {
  list-style: none;
  background-color: rgba(34, 42, 36, 0.7607843137);
  display: flex;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  padding: 2px;
  height: 26px;
  vertical-align: middle;
}
nav .breadcrumb {
  display: block;
}
nav .breadcrumb li:first-child {
  width: 42.5px;
}
nav .breadcrumb li:first-child .iconify {
  width: 34px;
}

.leftbar {
  float: left;
  flex-flow: column;
  flex-wrap: nowrap;
  margin: 0;
  overflow: visible;
  background-color: rgba(34, 42, 36, 0.7607843137);
  height: calc(100vh - 36px);
  width: 44px;
  padding: 0;
}
.leftbar li {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
  overflow: visible;
  height: 42.5px;
  margin: 2.125px 2px;
  padding: 0;
}
.leftbar li:first-child {
  margin-top: 0;
  padding-top: 0;
  width: 38px;
}
.leftbar li:has(hr) {
  padding: 0;
  margin: 0;
  margin-top: -8.5px;
  margin-bottom: 4.25px;
  width: 42.5px;
  height: 8.5px;
}
.leftbar li a {
  line-height: 29.75px;
  padding: 2px;
  vertical-align: middle;
  width: 36px;
  height: 36px;
}
.leftbar li a .label {
  transition: width 0.3s ease-in-out;
  display: none;
  height: 34px;
  padding: 2px;
  padding-left: 2px;
  font-size: 23.8px;
}
.leftbar li a .iconify {
  width: 34px;
  height: auto;
  padding: 0;
  vertical-align: middle;
}
.leftbar li a:hover {
  width: -moz-fit-content;
  width: fit-content;
  z-index: 95;
}
.leftbar li a:hover .label {
  display: inline-block;
}

.content {
  background-color: #609b66;
  color: #132812;
  padding: 20px;
  border-radius: 5px;
}
.content h1 {
  font-size: 2.5em;
}
.content p {
  font-size: 1em;
  opacity: 0.8;
}
.content a {
  transition: color 0.1s ease-in-out;
  display: inline-flex;
  vertical-align: middle;
  line-height: 20px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: 1px transparent solid;
  background-color: rgba(34, 42, 36, 0.7607843137);
  padding: 2px;
  padding-right: 4px;
}
.content a .iconify {
  height: 20px;
  height: 20px;
  padding: 2px;
}
.content a:hover {
  color: #6ba971;
  background-color: rgba(34, 42, 36, 0.7607843137);
  border: 1px #6ba971 solid;
}
.content a.current {
  background: #6ba971;
  color: rgba(34, 42, 36, 0.7607843137);
  border: 2px rgba(34, 42, 36, 0.7607843137) solid;
  border-radius: 5px;
}

a {
  color: rgb(100, 162, 100);
}

main {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid red;
}

.fc-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fl-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-base, .btl-primary {
  padding: 5px 3px;
  border-radius: 3px;
}/*# sourceMappingURL=style.css.map */