$primary-color: 
#558b5a;
$text-color: 
#132812;

$page-bg:#112011;

$nav-bg:
#222a24c2;
$nav-accent:
#6ba971;

$msg-bg:#283128;
$msg-txt:white;

$info-color:#1b3646;
$warn-color:#897f17;
$danger-color:#8a5e17;
$error-color:#7e2525;
$success-color:#22531f