$primary-color: 
#84ac88;
$text-color: 
#132812;

$nav-bg:
#000c;

$msg-bg:#464646;
$msg-txt:white;

$info-color:#1b3646;
$warn-color:#897f17;
$danger-color:#8a5e17;
$error-color:#7e2525;
$success-color:#22531f