$nav-contentheight:20px;
$leftbar-cwidth:24px;
$nav-padding:2px;
body > main{
    margin-left:$leftbar-cwidth*2;
}
body > header{
    position: sticky;
    top: $nav-padding*3;
    border-radius: $nav-padding*4;
    
}
nav {
    border-radius: $nav-padding*4;
    z-index: 90;
    margin:0;
    padding:0;
    background-clip: padding-box;
    ul {
        list-style: none;
        
        background-color: $nav-bg;
        display: flex;
        padding:$nav-padding;
        margin:0;
        :first-child{
            min-width:$leftbar-cwidth;
        }
        li {
            display: inline-block;
            padding:$nav-padding;
            height:$nav-contentheight+($nav-padding*3);
            a{
                transition: color 0.1s ease-in-out;
                display:flex;
                vertical-align: middle;
                line-height:$nav-contentheight;
                font-size:$nav-contentheight - $nav-padding;
                text-decoration: none;
                text-align: center;
                vertical-align: baseline;
                color:#fff;
                border-radius: $nav-padding*2;
                border: 1px transparent solid;
                .iconify{
                    font-size:$nav-contentheight;
                    padding:$nav-padding;
                }
                .label{
                    padding:$nav-padding;
                    padding-left:$nav-padding/2;
                    padding-right:$nav-padding*2;
                }
                &:hover { // Using & to reference the parent selector
                    color: $nav-accent;
                    background-color: $nav-bg;
                    border: 1px $nav-accent solid;
                }
                &.current{
                    background: $nav-accent;
                    color:$nav-bg;
                }
            }
        }
    }
    &.breadcrumb{
        display:inline-block;
        li {
            margin-right: $nav-padding;
            a {
                border-radius: $nav-padding*2;
            }
        }
    }
}
.leftbar{
    float:left;
    flex-flow: column;
    flex-wrap:nowrap;

    margin:0;
    overflow: visible;
    
    background-color: $nav-bg;
    padding-left: $nav-padding;

    height: calc((100vh) - ($nav-contentheight + $nav-padding*8)) ;
    li{
        width: fit-content;
        overflow: visible;
        display:block;
        width:$leftbar-cwidth+($nav-padding*4);
        margin: $nav-padding 0;
        &:has(hr){
            padding:0;
            margin:0;
            height:$nav-padding;
            margin-top:$nav-padding;
        }
        hr{
            padding:0;
            margin:0;
            margin-left:$nav-padding*2;
            width:$nav-padding*2;
            height:0;
        }
        &:first-child{
            margin-top:0;
            padding-top:0;
        }
        a{
            line-height:$leftbar-cwidth;
            font-size:20px;
            .label{
                transition: width 0.3s ease-in-out;
                display:none
            }
            .iconify{
                font-size:$leftbar-cwidth;
            }
            &:hover{
                width: fit-content;
                z-index: 95;
                .label{
                    margin-left:$nav-padding;
                    display:inline;
                }
            }
        }
    }
}