<header class="navbar-dark navbar-sticky-top bg-body-tertiary pb-0 mb-2 pt-1">
    <!-- breadcrumb bar -->
    <ul class="container breadcrumb navbar-left mb-0 pb-0 pt-0" id="breadcrumb-bar">
        <li class="breadcrumb-item">
            <a href="https://dmessham.ca">
                <span class="iconify" data-icon="mdi-home"></span>
                <span class="label">DMessham.ca</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="https://dmessham.ca/school">
                <span class="iconify" data-icon="mdi-folder"></span>
                <span class="label">School</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="https://dmessham.ca/school/mult-128">
                <span class="iconify" data-icon="mdi-folder"></span>
                <span class="label">mult-128</span>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" id="breadcrumb-root">
            <a href="https://dmessham.ca/school/mult-128/a3/" class="active" aria-current="page">
                <span class="iconify" data-icon="mdi-file"></span>
                <span class="label">Assignment 3</span>
            </a>
        </li>
    </ul>

    <!-- Start the navbar -->

    
    <nav class="navbar-sticky-top justify-content-center navbar-dark bg-dark nav-tabs">
        <div class="container nav navbar pb-0 pt-0">
            <a href="https://dmessham.ca/school/mult-128/a3/" class="navbar-brand navbar-item px-2 py-1 ">
                <img src="assets/profpic_gradient-64.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-bottom">
                <span class="label">Daniel Messham</span>
            </a>
            <div class="nav navbar navbar-expand-lg pb-0 pt-1">
                <a href="index.html" class="nav-link px-2 py-1 pb-1 " id="home-tab">
                    <span class="iconify" data-icon="mdi-home"></span>
                    <span class="label">Home</span>
                </a>
    
                <a href="portfolio.html" class="nav-link px-2 py-1 mx-1" id="portfolio-tab">
                    <span class="iconify" data-icon="mdi-briefcase"></span>
                    <span class="label">Portfolio</span>
                </a>

                <a href="projects.html" class="nav-link px-2 py-1 mx-1" id="projects-tab">
                    <span class="iconify" data-icon="mdi-toolbox"></span>
                    <span class="label">Projects</span>
                </a>
                
                <!-- <div class="nav-item btn-group nav-link px-0 py-0 ">
                    <div class="dropdown px-2 py-1 "  id="projects-tab">
                        <a class="" href="projects.html">
                            <span class="iconify" data-icon="mdi-toolbox"></span>
                            <span class="label">Projects</span>
                        </a>
                        <button class="dropdown-toggle btn py-0" data-bs-toggle="dropdown" aria-expanded="false"  href="#"  role="button" >
                        </button>
                        <ul class="dropdown-menu dropdown">
                            <li><a class="dropdown-item" href="projects.html">Main Page</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li  class="dropdown-header">Software</li>
                            <li><a class="dropdown-item" href="project-palm.html" id="projects_palm-tab">Palm Treo 700wx</a></li>
                            <li><a class="dropdown-item" href="project-software_preservation.html" id="projects_swpres-tab">Software Preservation</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-header">Vehicles (on main site)</li>
                            <li><a class="dropdown-item" href="https://dmessham.ca/projects/ebike">Schwinn Ecotour</a></li>
                            <li><a class="dropdown-item" href="https://dmessham.ca/projects/toyota">Toyota Yaris</a></li>
                            <li><a class="dropdown-item" href="https://dmessham.ca/projects/buick">2001 buick lesabre (Discontinued)</a></li>
                        </ul>
                    </div>
                </div> -->
                <a href="photography.html" class="nav-link px-2 py-1 mx-1" id="photography-tab">
                    <span class="iconify" data-icon="mdi-camera"></span>
                    <span class="label">Photography</span>
                </a>
                <div class="nav-item">
                    <div class="nav-link dropdown av-link px-2 py-1" id="social-tab">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            <span class="iconify" data-icon="mdi-chat"></span>
                            <span class="label">Contact</span>
                        </a>
                        <ul class="dropdown-menu dropdown">
                            <li  class="dropdown-header">Hear me out</li>
                            <li>
                                <a href="https://dmessham.ca/blog" class="dropdown-item">
                                    <span class="iconify" data-icon="mdi-bullhorn"></span>
                                    <span class="label">Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://dmessham.ca/forum" class="dropdown-item">
                                    <span class="iconify" data-icon="mdi-forum"></span>
                                    <span class="label">Forum</span>
                                </a>
                            </li>
                            <li  class="dropdown-header">Get in touch</li>
                            <li>
                                <a href="mailto:contact@dmessham.ca" class="dropdown-item">
                                    <span class="iconify" data-icon="mdi-email"></span>
                                    <span class="label">Email</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://bsky.app/profile/dmessham.bsky.social">
                                    Bluesky
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="https://twitter.com/dmessham27">Twitter</a></li>
                            <li><a class="dropdown-item" href="https://digipres.club/@DMessham">Mastodon</a></li>
                            <li><a class="dropdown-item" href="https://github.com/DMessham">Github</a></li>
                            <li><a class="dropdown-item" href="https://www.linkedin.com/in/dmessham/">LinkedIn</a></li>
                            <li><a class="dropdown-item" href="https://bsky.app/profile/dmessham.bsky.social">Bluesky</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="dropdown-header">Business</li>
                            <li><a class="dropdown-item" href="https://bsky.app/profile/dmessham.ca">Bluesky</a></li>
                            <li><a class="dropdown-item" href="https://www.youtube.com/@DMessham.development">Youtube</a></li>
                            <li><a class="dropdown-item" href="https://www.linkedin.com/company/dmessham-development-design/">LinkedIn</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        // get the pathname and use it to fill in the breadcrumb bar
        console.log(location)

        let pathname = location.pathname

        let pageNameMap = {
            "index.html":"home",
            "portfolio.html":"Portfolio",
            "projects.html":"Projects",
            "projects-palm.html":"Projects/Palm Treo",
            "protects-software_preservation.html":"Projects/Software preservation",
            "photography.html":"Photography"
        }

        let pageTabMap = {
            "index.html":"#home-tab",
            "portfolio.html":"#portfolio-tab",
            "projects.html":"#projects-tab",
            "projects-palm.html":"#projects_palm-tab",
            "protects-software_preservation.html":"#projects_swpres-tab",
            "photography.html":"#photography-tab"
        }
        
    </script>
</header>